/*General Body*/
h1, h2, h3, h4, h5, h6 {
    font-family: Montserrat, Helvetica, sans-serif !important;
    margin: 0;
    padding: 0;
}
p {
    font-family: Arial, Helvetica, sans-serif !important;
}
button {
    font-family: Arial, Helvetica, sans-serif;
}

/*Navigation Bar*/
.cart {
    padding: 6px 0;
    margin: 0 10px;
}
.navbar-brand h1 {
    font-family: Montserrat, Helvetica,sans-serif;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 0;
}

/*Hero Section*/
.hero {
    position: relative;
}
.carousel-inner {
    max-height: 770px;
}
.carousel-caption{
    width: 30%;
    height: 25%;
}
.carousel-caption h1 {
    font-family: Cabin, Montserrat, sans-serif;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 0;
}
.carousel-caption a{
    font-size: 24px;
    font-weight: 600;
    border-radius: 5px;
}
.cap-1 {
    position: absolute;
    left: 18%;
    top: 40%;
}
.cap-2 {
    position: absolute;
    left: 55%;
    top: 40%;
}
.cap-2 h1{
    color: #000;
}
.cap-3 {
    position: absolute;
    left: 35%;
    top: 33%;
}
.cap-3 h1{
    color: #000;
}

/* Top Products Section */
#top-prod h1 {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}
.prod {
    text-align: center;
}
.product1 {
    height: 250px;
    width: auto;
    justify-content: center;
}
.prod-btn {
    border-radius: 0;
    background-color: #000;
}

/* Showcase Section */
.showcase {
    margin-top:0px; 
    margin-bottom:0px;
    background-image: url(../assets/img/showcase/show-bg-1.jpg);
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-position:center center;
    padding: 150px 0;
    width: 100%;
}

.show-inscription h1 {
    font-weight: 600;
    color: #fff;
    text-align: center;
}

/* Newsletter Section */
.footer-1 h1 {
    color: #000;
    text-align: center;
}
#newsletter p {
    color: rgb(68, 68, 68);
}
.news-form {
    width: 60%;
}
.news-form input {
    border-radius: 0;
}
.news-form input::placeholder {
    font-family: Arial, Helvetica, sans-serif;
}
.news-form button {
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 0;
    background: #000;
    color: #fff;
}

/* Footer */
.footer1 {
    text-align: center;
}
.footer1 a {
    text-decoration: none;
    color: #000;
}
.footer1 ul {
    list-style: none;
}
.footer1 ul li {
    display: inline;
}
.footer2 p {
    text-align: center;
}
.footer2 {
    text-align: center;
}
.footer2 a {
    text-decoration: none;
    color: #000;
}
.footer2 ul {
    list-style: none;
}
.footer2 ul li {
    display: inline;
}


/* Login Pages */
#client-login {
    background: #000;
}
#client-login .container {
    width: 100%;
    background: #fff;
}
.login-2 h3 {
    text-align: center;
    font-weight: 600;
}
.login-2 button {
    width: 150px;
    text-align: center;
}
#client-login a {
    color: #6C757D;
    font-family: Arial, Helvetica, sans-serif;
}
.login-form label {
    font-family: Arial, Helvetica, sans-serif;
}
.form-text {
    font-family: Arial, Helvetica, sans-serif;
}
